<div class="container" style="text-align:center">

<div class="row">
    <div class="col-md-6">
        <a style="cursor:pointer" data-toggle="modal" data-target="#myModalBoston">
            <img class="city" src="../../Assets/img/boston.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">BOSTON<p>
        </a>
    </div>
    <div class="col-md-6">
        <a href="map.html?lat=40.748583&lon=-73.985675">
            <img class="city" src="../../Assets/img/new_york.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">NEW YORK<p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="map.html?lat=41.885619&lon=-87.631779">
            <img class="city" src=".../../Assets/img/chicago.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">CHICAGO<p>
        </a>
    </div>
    <div class="col-md-6">
        <a href="map.html?lat=35.222793&lon=-80.845622">
            <img class="city" src="../../Assets/img/charlotte.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">CHARLOTTE<p>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <a href="map.html?lat=34.049175&lon=-118.261615">
            <img class="city" src="../../Assets/img/los_angels.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">LOS ANGELS<p>
        </a>
    </div>
    <div class="col-md-6">
        <a href="map.html?lat=25.774236&lon=-80.257442">
            <img class="city" src="../../Assets/img/miami.jpg" alt="Error" width="100%" height="236" style="padding:1%"><p class="caption">MIAMI<p>
        </a>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalBoston" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="min-width:800px;min-height:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Equipments in FitnessFreak-Boston</h4>
            </div>
            <div class="modal-body">
                <div id="grid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>